.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 60%
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 50px 0px;

    .texts {
        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2rem;
            margin: 0;
            color: #82ae46;
        }

        h3 {
            font-family: "poppins", sans-serif;
            font-size: 2.5rem;
            margin: 10px;
        }

        span {
            color: gray;
            font-size: 18px;
            padding-bottom: 20px;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.sortFilter {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;

    input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgb(236, 236, 236);
    }

    button {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgb(236, 236, 236);
        background-color: #82ae46;
        color: white;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .texts {
        text-align: center;
    }
    .sortFilter {
        flex-direction: column;
    }
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'poppins', sans-serif;
    padding: 20px;
    background-color: white;
    border: 1px solid rgb(236, 236, 236);
    position: relative;

    .buttons {
        position: absolute;
        bottom: 10px;
        display: flex;
        gap: 10px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        button {
            background-color: #82ae46;
            color: white;
            border: none;
            padding: 15px;
            border-radius: 50%;
            font-size: 12px;
            cursor: pointer;
        }
    }

    .image {
        width: 100%;
        overflow: hidden;

        img {
            transition: all 0.3s ease-in-out;
        }
    }

    .content .price {

        transition: opacity 0.3s ease-in-out;
    }
}

.card:hover {
    .buttons {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    .content .price {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    img {
        scale: 1.2;
        transition: all 0.3s ease-in-out;
    }


}